.search-form {
  padding: 70px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.form {
  height: 72px;
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 25px;
  box-sizing: border-box;
}

.search-movie {
  height: 40px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
  border-right: 1px solid #e8e8e8;
  box-sizing: border-box;
}

.form__input {
  height: 100%;
  width: 87%;
  border: none;
  background-color: unset;
}

.form__input::placeholder {
  background: url(../../images/magnifier.svg) no-repeat;
}

.form__button {
  padding: 0;
  margin-left: 46px;
  background-image: url(../../images/find.svg);
  background-repeat: no-repeat;
  width: 34px;
  height: 34px;
  border: none;
  background-color: unset;
  cursor: pointer;
}

.form__button:hover {
  opacity: 0.8;
}

.checkbox__label {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-left: 14px;
  display: flex;
}

.checkbox {
  margin-left: 29px;
  position: absolute;
  z-index: -1;
  opacity: 0;
  cursor: pointer;
}

.checkbox__pseudo {
  display: inline-block;
  width: 36px;
  height: 20px;
  background-image: url('../../images/smalltumboff.svg');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.checkbox__pseudo:hover {
  opacity: 0.8;
}

.checkbox:checked + .checkbox__pseudo {
  background-image: url(../../images/smalltumb.svg);
}

.checkbox:checked + .checkbox__pseudo:hover {
  opacity: 0.8;
}
